.hotItem{
  position: relative;
}
.hotItem::before , .hotItem::after{
  content: '';
  height: 1px;
  background: #37523d;
  position: absolute;
  top: 50%;
  width: 30%;
}
.hotItem::before{
  left: 0%;
}
.hotItem::after{
  right: 0%;
}
.table{
  @include mobile{
    font-size: 8px;
  }
  &__img{
    height: 150px;
    width: 150px;
  }
}