.hot{
  position: relative;
}
.hot::before , .hot::after{
  content: '';
  height: 1px;
  background: #37523d;
  position: absolute;
  top: 50%;
  width: 30%;
}
.hot::before{
  left: 0%;
}
.hot::after{
  right: 0%;
}
.table{
  @include mobile{
    font-size: 8px;
  }
  &__img{
    height: 100px;
    width: 100px;
  }
}