.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background:rgba(148, 148, 148, 0.712);
  border-radius:20px;
  @include mobile{
    width: 80%;
  }
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login{
  background-image: url(../src/assets/images/login.jpg);
  background-size: cover;
  background-position: center center;
  align-items:center;
  padding-top: 81px;
}

.sigin{
  background:rgba(34, 34, 34, 0.5)
}

.sigin:hover{
  background:rgba(0, 0, 0, 0.5)
}

