.product__card:hover{
  cursor: pointer;
  @include mobile{
    cursor: none;
  }
}

.card__img{
  overflow:hidden
}

.card__img img{
  transition: all 1s ease-out;
  &:hover{
    transform:scale(1.2,1.2);
    @include mobile{
      transform:scale(1,1);
    }
  }
}

.detail{
  &__price{
    @include mobile{
      display: none !important;
    }
  }
  &__text{
    @include mobile{
      font-size: 14px;
    }
  }
}